<div class="row mt-5">


    <div class="col-3" *ngFor="let item of _partage.heros">
  
      <div [ngClass]="{'card p-1' : true , 'max' : item.power>100 , 'min': item.power<20 , 'meduim': item.power>20 && item.power<100}">
        <div class="card-image ">
  
            <img class="w-100" [src]="item.image" alt="">
        </div>
        <div class="card-body">
            <h2>{{ item.name }}</h2> 
            <p>{{ item.power }}</p>
  
        </div>
  
  
  
    </div>
  
  
  </div>
  
  
  
  
  </div>